# Byte-compiled / Optimized / DLL
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environment
venv/
env/
ENV/

# Environment variables & secrets
.env
.env.*

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Unit test / coverage
htmlcov/
.tox/
.coverage
.pytest_cache/

#自己添加的
static/
*.txt
demo/
*.zip
*.md
localhost.crt
localhost.key